<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:lang="http://www.springframework.org/schema/lang"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:jee="http://www.springframework.org/schema/jee"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:mongo="http://www.springframework.org/schema/data/mongo"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
    http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.2.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
    http://www.springframework.org/schema/data/mongo
    http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd">

  <context:property-placeholder location="classpath:jdbc.properties,classpath:mongo.properties"/>

  <!-- Spring mongo -->
  <bean id="dbRefResolver" class="org.springframework.data.mongodb.core.convert.DefaultDbRefResolver">
    <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
  </bean>
  <bean id="mappingContext" class="org.springframework.data.mongodb.core.mapping.MongoMappingContext" />
  <bean id="defaultMongoTypeMapper" class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">
    <constructor-arg name="typeKey"><null/></constructor-arg>
  </bean>
  <bean id="mappingMongoConverter" class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
    <constructor-arg name="dbRefResolver" ref="dbRefResolver" />
    <constructor-arg name="mappingContext" ref="mappingContext" />
    <property name="typeMapper" ref="defaultMongoTypeMapper" />
  </bean>
  <bean id="mongoDbFactory" class = "org.springframework.data.mongodb.core.SimpleMongoDbFactory">
    <constructor-arg name="mongoClient" ref="ctpMongoClient" />
    <constructor-arg name="databaseName" value="${mongo.dbname}" />
  </bean>
  <bean id="ctpMongoClient" class="com.mongodb.MongoClient">
    <constructor-arg name="addr" ref="ctpServerAddress" />
    <constructor-arg name="credentialsList" ref="ctpMongoCredential" />
  </bean>
  <bean id="ctpMongoCredential" class="com.mongodb.MongoCredential" factory-method="createMongoCRCredential">
    <constructor-arg type="java.lang.String" value="${mongo.username}" />
    <constructor-arg type="java.lang.String" value="${mongo.dbname}" />
    <constructor-arg type="char[]" value="${mongo.password}" />
  </bean>
  <bean id="ctpServerAddress" class="com.mongodb.ServerAddress">
    <constructor-arg type="java.lang.String" value="${mongo.host}" />
    <constructor-arg type="int" value="${mongo.port}" />
  </bean>
  <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
    <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
    <constructor-arg name="mongoConverter" ref="mappingMongoConverter" />
  </bean>
</beans>
